:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-ocean-blue: #0096c7;
  --color-light-blue: #00b4d8;
  --color-dark-blue: #023e8a;

  --border: 1px solid var(--color-ocean-blue);

  --border-radius-l: 12px;
  --border-radius-m: 10px;
  --border-radius-s: 8px;

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}